# Vue.js
node_modules/
dist/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# environment files
.env
.env.local
.env.*.local

# cache files
package-lock.json
yarn.lock

# TypeScript cache
*.tsbuildinfo

# MacOS
.DS_Store
._*

# VSCode
.vscode/
.vscode/*

# WebStorm
.idea/
.idea/*
*.iml
